{% extends 'base.html.twig' %}

{% block title %}Список заказов{% endblock %}

{% block body %}
    <h1>Список заказов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дата заселения</th>
                <th>Дата выселения</th>
                <th>Места</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
            <tr>
                <td>{{ rent.id }}</td>
                <td>{{ rent.beginDate ? rent.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ rent.endDate ? rent.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    {% for place in rent.places %}
                        {{ place.number }},
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_rent_show', {'id': rent.id}) }}">Подробнее</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Список заказов пуст!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
