{% extends 'base.html.twig' %}

{% block title %}Заказ{% endblock %}

{% block body %}
    <h1>Заказ № {{ rent.id }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rent.id }}</td>
            </tr>
            <tr>
                <th>Дата заселения</th>
                <td>{{ rent.beginDate ? rent.beginDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Дата выселения</th>
                <td>{{ rent.endDate ? rent.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Места</th>
                <td>
                    {% for place in rent.places %}
                    {{ place.number }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Клиент</th>
                <td>{{ rent.client.secondName }} {{ rent.client.firstName }}</td>
            </tr>
            <tr>
                <th>Цена за сутки</th>
                <td>{{ rent.dayPrice }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ rent.rentPrice }}</td>
            </tr>
            <tr>
                {% if rent.payedStatus == 'payed' %}
                    <th>Оплачено</th>
                {% elseif rent.payedStatus == 'notPayed' %}
                    <th>Не оплачено</th>
                    <td>{{ rent.diff }}</td>
                {% else %}
                    <th>Не оплачено</th>
                    <td>{{ rent.diff }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('add_payment', {'rent_id': rent.id}) }}">Внести оплату</a>

    <a href="{{ path('app_rent_index') }}">Вернуться к списку</a>

    <a href="{{ path('app_rent_edit', {'id': rent.id}) }}">Редактировать</a>

{% endblock %}
